.baner{
    -fx-background-color:#04083A;
}
.textZone{
    -fx-border-width: 1px 1px 1px 1px ;
    -fx-border-style:solid;
    -fx-border-color:#04083A;
    -fx-border-radius:5px;
    -fx-background-color:#fff;
    -fx-background-radius:5px;
}
.button{
    -fx-background-color:#0078D7;
    -fx-border-width:2px;
    -fx-border-color:#656565;
    -fx-border-radius:5px;
    -fx-background-radius:5px;
}